.wrapper{
    border: 2px solid #000;
    height: 50px;
}

.progressbar{
    background: green;
    width: 0%;
    height:100%;
    transition: width 3s ease-in;
}
.wrapper:hover .progressbar{
    width: 99%;
}